.App.light-theme {
  background-color: #fff;
  color: #333;
}

.App.dark-theme {
  background-color: #333;
  color: #fff;
}

.theme-toggle {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.theme-toggle:hover {
  background-color: #e2e2e2;
}
